@font-face
{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: local('Quicksand Light'), local('Quicksand-Light'), url(../fonts/quicksand-light.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face
{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(../fonts/quicksand-regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face
{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(../fonts/quicksand-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

a
{
    text-decoration: none;
}

body
{
    background-color: #141414;
}

.a-video-again::-webkit-scrollbar-track,
body::-webkit-scrollbar-track
{
    background-color: rgba(0, 0, 0, 0.3);
}

.a-video-again::-webkit-scrollbar,
body::-webkit-scrollbar
{
    display: none;
    width: 3px;
    height: 3px;
}

/* Header */

header
{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}
.a-header
{
    display: flex;
    width: 100%;
    height: 68px;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7) 10%, rgba(0,0,0,0));
}

.logo-menu
{
    background: url(../images/logo.png) no-repeat center;
    width: 92px;
    height: 100%;
    background-size: contain;
    margin: 22px 50px;
    position: relative;
    z-index: 2;
}

.a-menu-div
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.a-menu ul
{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.a-menu ul li a
{
    color: #e5e5e5;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.a-menu ul li a:hover
{
    color: #b3b3b3;
    transition: 0.4s all;
}

.config-right
{
    display: flex;
    align-items: center;
    width: 380px;
}

.config-right i
{
    font-size: 20px;
    color: #fff;
    margin-right: 35px;
}

.config-right span
{
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    margin-right: 35px;
}

.img-config
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-config img
{
    width: 32px;
}

.img-config i
{
    margin-left: 10px;
    font-size: 14px;
}

.a-profiles
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #141414;
    top: 0;
    z-index: 1;
    opacity: 1;
    transition: 0.4s ease all;
}

.profiles
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.profiles h1
{
    color: #fff;
    font-family: sans-serif;
    font-size: 65px;
    margin: 0 0 40px 0;
}

section.container-profiles span
{
    color: grey;
    font-family: sans-serif;
    font-size: 24px;
    margin: 20px 0 0 0;
}

section.one-profile:hover span,
section.two-profile:hover span,
section.three-profile:hover span,
section.four-profile:hover span,
section.five-profile:hover span
{
    color: #fff;
}

section.container-profiles
{
    display: flex;
}

section.one-profile,
section.two-profile,
section.three-profile,
section.four-profile,
section.five-profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
    cursor: pointer;
}

section.one-profile:hover img,
section.two-profile:hover img,
section.three-profile:hover img,
section.four-profile:hover img,
section.five-profile:hover img
{
    background-color: #fff;
    border-color: #fff;
}

.container-profiles section img
{
    width: 192px;
    border: 5px solid rgba(0,0,0,.4);
    background-color: #333;
}

section.five-profile
{
    margin-right: 0;
}

button.button-profile
{
    padding: 10px 35px;
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    font-family: sans-serif;
    font-size: 22px;
    margin: 100px 0 0 0;
    cursor: pointer;
    letter-spacing: 1px;
}

button.button-profile:hover
{
    color: #fff;
    border: 1px solid #fff;
}

/* Main */
main.a-main
{
    width: 100%;
}

.a-main div.main-img
{
    width: 100%;
    height: 100%;
    background: url(../images/wallpaperListanegra.png) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.main-background-color-gradient
{
    background: linear-gradient(77deg, rgba(0,0,0,.6) 0, rgba(0,0,0,0) 85%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-content
{
    padding: 13% 0px 7% 50px;
}

.main-content h1
{
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
    margin: 20px 0;
}

.main-content p
{
    font-family: sans-serif;
    font-size: 27px;
    color: #fff;
    font-weight: 500;
    max-width: 700px;
    margin-bottom: 20px;
    line-height: 30px;
}

.main-content button
{
    padding: 15px 30px;
    font-family: sans-serif;
    font-size: 21px;
    color: #000;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.main-content button:last-child
{
    width: 280px;
    color: #fff;
    background-color: #53504f;
    margin-left: 10px;
    transition: 0.4s all;
}

.main-content button:last-child:hover
{
    background-color: rgba(109,109,110,0.4);
}

.main-content button i
{
    margin-right: 15px;
}

.main-content span
{
    width: 22px;
    height: 22px;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 15px;
}

.a-video
{
    display: flex;
    flex-direction: column;
    /* margin: 0 0 0 50px; */
    min-height: 1000px;
}

section.a-video-again,
section.a-video-high,
section.a-video-favority,
section.a-video-mylist
{
    margin: 0 0 4em 0;
    height: 190px;
    display: table-cell;
    white-space: nowrap;
    transition: 0.4s all;
    position: relative;
    padding: 0 60px;
    overflow-x: visible;
}

span.video-animation-translate
{
    display: table-cell;
    white-space: nowrap;
    transition: 0.4s all;
    position: relative;
    /* transform: translate3d(-100.4%, 0px, 0px; */
    transform: translate3d(0, 0px, 0px);
    overflow-x: visible;
    width: 93.8%;
    height: 190px;
    position: absolute;
}

.video-arrow-left,
.video-arrow-right
{
    position: absolute;
    z-index: 1;
}


.video-arrow-right,
.video-arrow-left
{
    width: 56px;
    right: 0px;
    height: 166px;
    color: #fff;
    font-size: 38px;
    background-color: rgba(20,20,20,.5);
    position: absolute;
    cursor: pointer;
}

.video-arrow-right:hover i,
.video-arrow-left:hover i
{
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(20, 20, 20, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-arrow-right i,
.video-arrow-left i
{
    opacity: 0;
}

.video-arrow-left
{
    left: 0;
}

.a-video-again h2,
.a-video-high h2,
.a-video-favority h2,
.a-video-mylist h2
{
    color: #fff;
    font-family: sans-serif;
    font-size: 26px;
    margin: 0 0 15px 0;
}

section.a-video-again div,
section.a-video-high div,
section.a-video-favority div,
section.a-video-mylist div
{
    background-size: cover;
    height: 166px;
    width: 16.69999%;
    display: inline-block;
}

/* transform: translate3d(-116.66666666666667%, 0px, 0px); */

/* Footer */
footer
{
    width: 100%;
    /* display: none; */
}

.a-footer
{
    display: block;
    margin: 20px auto 5px;
    max-width: 980px;
}

.social-network
{
    display: flex;
    margin-bottom: 1em;
    width: 20%;
    justify-content: space-between;
}

.social-network a i
{
    color: #808080;
    font-size: 28px;
   
}

.footer-info
{
    margin-bottom: 15px;
}

.footer-info ul
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-info ul li
{
    flex-basis: 25%;
    margin-bottom: 15px;
}

.footer-info ul a
{
    color: #808080;
    font-size: 13px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 100;
}

.footer-info ul a:hover
{
    text-decoration: underline;
}

button.service-code
{
    display: flex;
    background-color: transparent;
    border: 1px solid #808080;
    color: #808080;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 7px;
    font-family: sans-serif;
}

.a-footer button.service-code:hover
{
    color: #fff;
    cursor: pointer;
}

.a-footer span
{
    font-size: 10px;
    color: #808080;
    font-weight: 100;
    font-family: sans-serif;
}